  .navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }

  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .navbar a:hover,
  .dropdown:hover .dropbtn {
    background-color: red;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  #search {
    margin: 20px;
  }

  #toolSearch {
    text-align: center;
  }

  .results {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(12, 100px);
    grid-template-rows: repeat(4, 100px);
    overflow: visible;
    border: white;
  }


  p.searchResult {
    border: white;
  }

  .center,
  .center-column,
  .top,
  .right,
  .bottom,
  .left {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .center-column {
    flex-direction: column;
  }

  .top {
    align-items: flex-start;
  }

  .right {
    justify-content: flex-end;
  }

  .bottom {
    align-items: flex-end;
  }

  .left {
    justify-content: flex-start;
  }

  .single-spaced,
  .single-spaced * {
    line-height: 1;
  }

  @media (max-width: 1024px) {
    .desktop {
      display: none;
    }
  }

  .columns {
    flex-wrap: wrap;
  }

  .navbar-item {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  h1{
    font-size: 26pt;
    font-weight: bolder;
  }
  h2{
    font-size: 16pt;
    font-weight: bold;
  }

  .ew-img { 
    margin-top: 20px;
}
img{
  margin-left: 25%;
  margin-right: 25%;
}
